@media (max-width: 639px) and (min-width: 480px) {
    section#landing {
        min-height: unset;
        max-height: unset;

        /* overflow-y: unset; */
    }

    .land-wrapper {
        width: 460px;
        flex-direction: column;

        padding-top: 96px;
        padding-bottom: 64px;
    }

    .land-graphics {
        width: 460px;
        height: 460px;

        margin-top: 32px;
    }

    .slot-set-illustration {
        width: 460px;

        overflow-y: hidden;
    }

    .slot-set-illustration img {
        width: 460px;
        height: 460px;
    }
}
