@media (max-width: 959px) and (min-width: 640px) {
    section#landing {
        min-height: unset;
        max-height: unset;

        /* overflow-y: unset; */
    }

    .land-wrapper {
        width: 620px;
        flex-direction: column;

        padding-top: 96px;
        padding-bottom: 64px;
    }

    .land-graphics {
        width: 620px;
        height: 480px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-top: 32px;
    }

    .slot-set-illustration {
        width: 620px;

        overflow-y: hidden;
    }

    .slot-set-illustration img {
        width: 620px;
        height: 620px;
    }


    
    .land-info {
        width: 620px;
        margin-left: 0px;
    }

    .land-title {
        font-size: 48px;
        line-height: 64px;
    }

    .title-row {
        height: 64px;
    }

    .title-row span {
        margin-right: 12px;
    }
}
