@media (max-width: 959px) and (min-width: 640px) {
    section#landing {
        min-height: unset;
        max-height: unset;

        /* overflow-y: unset; */
    }

    .land-wrapper {
        width: 480px;
        flex-direction: column;

        padding-top: 96px;
        padding-bottom: 64px;
    }

    .land-graphics {
        width: 480px;
        height: 480px;

        margin-top: 24px;
    }

    .slot-set-illustration {
        width: 480px;

        overflow-y: hidden;
    }

    .slot-set-illustration img {
        width: 480px;
        height: 480px;
    }
}
