@media (max-width: 479px) {
    section#landing {
        min-height: unset;
        max-height: unset;

        /* overflow-y: unset; */
    }

    .land-wrapper {
        width: 300px;
        flex-direction: column;

        padding-top: 96px;
        padding-bottom: 0px;
    }

    .land-graphics {
        width: 300px;
        height: 280px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        overflow: hidden;

        margin-top: 32px;
    }

    .slot-set-illustration {
        width: 300px;

        transform: translateY(-30px);

        overflow-y: unset;
    }

    .slot-set-illustration img {
        width: 300px;
        height: 300px;
    }

    .land-info {
        width: 300px;
        margin-left: 0px;
    }

    .land-title {
        font-size: 40px;
        line-height: 48px;
    }

    .title-row {
        height: 48px;
    }

    .title-row span {
        margin-right: 12px;
    }

    .land-info .land-spin-button {
        width: 128px;
        height: 48px;
        font-size: 20px;
    }

    .land-spin-wrapper {
        margin-top: 24px;
    }

    .lever-root {
        width: 20px;
        height: 8px;
    }

    .lever-stick {
        width: 8px;
        height: 10px;
        left: 12px;
        top: -13px;
    }

    .lever-ball {
        width: 20px;
        height: 20px;
        left: 7px;
        top: -37px;
    }

    .land-spin-wrapper.active .lever-ball,
    .land-spin-wrapper:active .lever-ball {
        top: -11px;
    }
}